/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.done {
  text-decoration: line-through;
}

.button-add {
  color: white;
}

.button-delete {
  color: red !important;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}